body .container-background .background-img-desktop {
    background-image: url(../assets/pattern-background-desktop.svg);
    width: 100%;
    height: 427.33px;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}
