:root {
    /* Colors */
    /* Primary */

    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

/* Neutral */

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Red Hat Display', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
body .container-background .background-img-mobile {
    width: 639.27px;
    height: 194px;
    position: absolute;
    background-image: url(./assets/pattern-background-mobile.svg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
body .container-background {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}
body .background-color {
    background-color: var(--Pale-blue);
    width: 100%;
    height: 100vh;
    z-index: -2;
    position: absolute;
}
body .container-card {
    width: 327px;
    height: 567px;
    border-radius: 20px;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    align-self: center;
}
body .container-card picture {
    width: 327px;
    height: 160px;
    display: block;
    position: relative;
}
body .container-card picture img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}
body .container-card .container-card-text {
    width: 327px;
    height: 407px;
    background-color: white;
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
body .container-card .container-card-text h1 {
    font-size: calc(22rem / 16);
    width: 263px;
    height: 29px;
    line-height: 29.11px;
    text-align: center;
    font-weight: 900;
    position: absolute;
    top: 32px;
    color:#1F2E55;
}
body .container-card .container-card-text .text-paragraph {
    width: 263px;
    height: 75px;
    font-weight: 500px;
    font-size: calc(15rem / 16);
    line-height: 25px;
    text-align: center;
    color: var(--Desaturated-blue);
    position: absolute;
    top: 77px;
}
body .container-card .container-card-text .container-plans {
    width: 279px;
    height: 81px;
    position: absolute;
    top: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F9FF;
    border-radius: 11px;
}
body .container-card .container-card-text .container-plans .container-plans-price {
    width: 247px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
body .container-card .container-card-text .container-plans .container-plans-price img {
    width: 48px;
    height: 48px;
}
body .container-card .container-card-text .container-plans .container-plans-price div {
    width: 81px;
    height: 40px;
}
body .container-card .container-card-text .container-plans .container-plans-price div {
    font-size: calc(14rem / 16);
    line-height: 18.52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 68px;
}
body .container-card .container-card-text .container-plans .container-plans-price .container-plans-price-1 {
    font-weight: 900;
}
body .container-card .container-card-text .container-plans .container-plans-price .container-plans-price-2 {
    color: var(--Desaturated-blue);
}
body .container-card .container-card-text .container-plans .container-plans-price a {
    font-size: calc(13rem / 16);
    font-weight: 700;
    line-height: 17.2px;
    color:#382AE1;
}
body .container-card .container-card-text .container-plans .container-plans-price a:hover {
    color: #766CF1;
    text-decoration: none;
}
body .container-card .container-card-text button {
    position: absolute;
    top: 281px;
    width: 279px;
    height: 50px;
    border: none;
    border-radius: 11px;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    background-color: var(--Bright-blue);
}
body .container-card .container-card-text button:hover {
    background-color: #766CF1;
}
body .container-card .container-card-text button p {
    color: white;
    font-size: calc(15rem / 16);
    font-weight: 900;
    line-height: 19.85px;
    font-family: 'Red Hat Display', sans-serif;
}
body .container-card .container-card-text .button-a {
    font-weight: 900;
    font-size: calc(15rem / 16);
    line-height: 19.85px;
    position: absolute;
    top: 355px;
    text-decoration: none;
    color: var(--Desaturated-blue);
}
body .container-card .container-card-text .button-a:hover {
    color: #1F2E55;
}
